# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
# Useful .gitignore templates: https://github.com/github/gitignore
.idea/inspectionProfiles/
.idea/modules.xml
.idea/turnono.github.io.iml
.idea/workspace.xml
/form_action.php
